<div class="jumbotron">
  <h1 class="display-4"><%= t('messages.welcome') %></h1>
  <p class="lead"><%= t('messages.main_text') %></p>
  <hr class="my-4">
  <p><%= t('messages.option_text') %></p>
  <p class="lead">
    <%= render "menu" %>
  </p>
</div>


